# Server
PORT=<server_port>
NODE_ENV=<environment>

# Database
DATABASE_URL="postgresql://<db_username>:<db_password>@<db_host>:<db_port>/<db_name>"

# Auth
JWT_SECRET=<your_secret_key>
JWT_EXPIRES_IN=<X_days>

# Others
CORS_ORIGIN=<frontend_origin>

# AI
GEMINI_API_KEY=<your_gemini_api_key>
